<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoe.shop.wxb">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.xiaoe.common.app.XiaoeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".business.launch.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostName}"
                    android:scheme="${schemeName}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".business.main.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.course.ui.CourseImageTextActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".business.audio.ui.AudioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".business.audio.ui.AudioNewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".business.video.ui.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|touchscreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".business.column.ui.ColumnActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>

        <service android:name=".business.audio.presenter.AudioMediaPlayer" />

        <activity
            android:name=".business.mine_learning.ui.MineLearningActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.mine_learning.ui.MyBoughtListActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.setting.ui.SettingPersonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.setting.ui.SettingPersonItemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.setting.ui.SettingAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.download.ui.DownloadActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name=".business.download.ui.OffLineCacheActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.column.ui.CacheColumnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.search.ui.SearchActivity"
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|touchscreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.course_more.ui.CourseMoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.coupon.ui.CouponActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.comment.ui.CommentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|touchscreen"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".business.navigate_detail.ui.NavigateDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.cdkey.ui.CdKeyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.pay.ui.PayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.coupon.ui.CouponDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 微信sdk start -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 微信sdk end -->

        <receiver android:name=".business.audio.presenter.StatusBarReceiver">
            <intent-filter>
                <action android:name="me.wcy.music.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".business.upgrade.InstallApkBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".business.super_vip.ui.SuperVipActivity" />

        <activity
            android:name=".business.bought_list.ui.BoughtListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.ScholarshipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.IntegralActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.IntegralNewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.WithdrawalRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.WithdrawalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.earning.ui.WithdrawalResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.historymessage.ui.HistoryMessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".common.web.BrowserActivity" />
        <activity
            android:name=".business.search.ui.SearchMoreActivity"
            android:screenOrientation="portrait"/>

        <!--网络变化广播-->
        <receiver android:name=".common.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".business.login.ui.LoginNewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.login.ui.LoginSplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".business.login.ui.ProtocolActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".business.super_vip.ui.NewSuperVipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.releaseversion.ui.ReleaseVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.pay.ui.BoBiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".common.pay.ui.AccountDetailActivity"></activity>
    </application>

</manifest>